{% for user in unauthorized_users %}
    <tr>
        <td class="collapsing">
            <i class="user icon"></i> {{ user.firstname }} {{ user.lastname }}
        </td>
        <td>{{ user.email }}</td>
        {% if user.permission %}
            <td>Hersteller</td>
        {% else %}
            <td>Fachabteilung</td>
        {% endif %}
        <td class="right aligned collapsing">{{ user.member_since }}</td>
        <td class="right aligned collapsing">
            <i class="big green add user icon"></i>
            <i class="big red remove user icon"></i>
        </td>
    </tr>
{% endfor %}