{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}

    <!--Highlight-->
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="aligned column">
                <form class="ui massive form" method="post">
                    {{ form.hidden_tag() }}
                    <div class="ui equal width massive form">
                        <div class="ui segments bfarm">
                            <div class="ui segment">
                                <h3 class="ui header">Kennzahlen zum Arzneimittel</h3>
                            </div>
                            <div class="ui field segment">
                                <label>Arzneimittelbezeichnung</label>
                                {{ form.drug_title(placeholder='Bezeichnung') }}
                            </div>
                            <div class="ui field segment">
                                <label>Wirkstoffe</label>
                                {{ form.substance(placeholder='Wirkstoff') }}
                            </div>
                            <div class="ui two fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Arzneimittelnummer</label>
                                    {{ form.enr(placeholder='ENR') }}
                                </div>
                                <div class="ui field segment">
                                    <label>Pharmazentralnummer</label>
                                    {{ form.pzn(placeholder='PZN') }}
                                </div>
                            </div>
                            <div class="ui two fields horizontal segments">
                                <div class="ui field segment">
                                    <label>ATC-Code</label>
                                    {{ form.atc_code(placeholder='ATC-Code') }}
                                </div>
                                <div class="ui field segment">
                                    <label>Verkehrsfähig</label>
                                        {{ form.marketability(placeholder='Verkehrsfaehig') }}
                                    <label>Ist dieses Arzneimittel verkehrsfähig?</label>
                                </div>
                            </div>
                        </div>
                        <div class="ui segments bfarm">
                            <div class="ui segment">
                                <h3 class="ui header">Informationen zum Ausmaß des Engpasses</h3>
                            </div>
                            <div class="ui fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Alternativpräperate</label>
                                    {{ form.alternative(placeholder='Alternativen') }}
                                    <label>Existieren Alternativpräperate?</label>
                                </div>
                                <div class="ui field segment">
                                    <label>Informationen an Fachkreise</label>
                                    {{ form.inform_expert_group(placeholder='Fachkreise') }}
                                    <label>Wurden Informationen an Fachkreise gegeben?</label>
                                </div>
                                <div class="ui field segment">
                                    <label>Krankhausrelevant</label>
                                    {{ form.hospital(placeholder='Krankhausrelevant') }}
                                    <label>Ist das Medikament krankenhausrelevant?</label>
                                </div>
                            </div>
                        </div>
                        <div class="ui segments bfarm">
                            <div class="ui segment">
                                <h3 class="ui header">Meldungshistorie</h3>
                            </div>
                            <div class="ui fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Letzte Meldung</label>
                                    {{ form.last_report(placeholder='Letztes Meldedatum') }}
                                </div>
                                <div class="ui field segment">
                                    <label>Erstmeldung</label>
                                    {{ form.initial_report(placeholder='Datum der Erstmeldung') }}
                                </div>
                                <div class="ui field segment">
                                    <label>Voraussichtliches Ende des Engpasses</label>
                                    {{ form.end(placeholder='voraussichtliches Enddatum') }}
                                </div>
                            </div>
                        </div>
                        <div class="ui segments bfarm">
                            <div class="ui segment">
                                <h3 class="ui header">Engpass Gründe</h3>
                            </div>
                            <div class="ui fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Engpass-Grund</label>
                                    <div class="ui left labeled input">
                                        {{ form.reason(placeholder='Grund für den Lieferengpass') }}
                                    </div>
                                </div>
                            </div>
                            <div class="ui fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Sonstige Gründe für den Engpass</label>
                                    <div class="ui left labeled input">
                                        <div class="ui label">
                                        <i class="huge icons">
                                            <i class="big thin circle icon"></i>
                                            <i class="write icon"></i>
                                        </i>
                                        </div>
                                        {{ form.other_reasons(placeholder='Sonstige Gruende') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segments bfarm">
                            <div class="ui segment">
                                <h3 class="ui header">Kontakt</h3>
                            </div>
                            <div class="ui field segment">
                                <label>Zulassungsinhaber</label>
                                {{ form.owner(placeholder='Zulassungsinhaber') }}
                            </div>
                            <div class="ui two fields horizontal segments">
                                <div class="ui field segment">
                                    <label>Kontakt Telefon</label>
                                    {{ form.telephon(placeholder='Kontakt Telefon') }}
                                </div>
                                <div class="ui field segment">
                                    <label>Kontakt E-Mail</label>
                                    {{ form.email(placeholder='Kontakt E-Mail') }}
                                </div>
                            </div>
                        </div>
                        <div class="fields">
                            {{ form.submit(class_='ui fluid big blue submit button') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}