{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}

    <!--Highlight-->
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Login</h3>
                    <p>Bitte geben Sie Ihren Benutzernamen und Ihr Passwort an.</p>
                    <form class="ui form" method="post">
                    {{ form.hidden_tag() }}
                        <div class="field">
                            {{ form.email(placeholder="Email") }}
                        </div>
                        <div class="field">
                            {{ form.firstname(placeholder="Vorname") }}
                        </div>
                        <div class="field">
                            {{ form.lastname(placeholder="Nachname") }}
                        </div>
                        <div class="field">
                            {{ form.password(placeholder="Password") }}
                        </div>
                        <div class="field">
                            {{ form.password2(placeholder="Password wiederholen") }}
                        </div>
                        <div class="field">
                            {{ form.permission() }}
                        </div>
                        {{ form.submit(class_='ui fluid large blue submit button') }}
                    </form>
                    <div class="ui message">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            {% else %}
                                Noch nicht registriert? <a href="{{ url_for('auth.register') }}">Sign Up</a>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="six wide right floated column">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" class="ui medium bordered rounded image">
                </div>
            </div>
        </div>
    </div>
{% endblock %}