{% for engpass in engpaesse %}

    <div class="ui link card">
        <div class="image">
            <img src="{{ url_for('static', filename='img/TB_AM_Lieferengpaesse.jpg') }}">
        </div>
        <div class="content">
            <a class="header">{{ engpass.drug_title }}</a>
            <div class="meta">
                <span class="date">{{ engpass.initial_report }}</span>
                <span class="date">Erstmeldung</span>
            </div>
        <div class="description">
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td class="versorgungsgf"><p>Versorgungsgefährdend</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <div class="extra content">
                    <div class="ui accordion">
                        <div class="title active">
                            <i class="dropdown icon"></i>
                            Wirkstoffe
                        </div>
                        <div class="content active">
                            <p class="transition visible" style="display: block !important;">{{ engpass.substance }}</p>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Kennzahlen
                        </div>
                        <div class="content">
                            <table class="ui celled table">
                                <tbody>
                                    <tr>
                                        <td>PZN</td>
                                        <td>{{ engpass.pzn }}</td>
                                    </tr>
                                    <tr>
                                        <td>ATC - Code</td>
                                        <td>{{ engpass.atc_code }}</td>
                                    </tr>
                                    <tr>
                                        <td>Verkehrsfähig</td>
                                        <td>{{ engpass.marketability }}</td>
                                    </tr>
                                    <tr>
                                        <td>aktuelle Bescheidart</td>
                                        <td>{{ engpass.marketability }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Information
                        </div>
                        <div class="content">
                            <table class="ui celled table">
                                <tbody>
                                    <tr>
                                        <td>Alternativpräparat</td>
                                        <td class="negative"><i class="icon close"></i>{{ engpass.alternative }}</td>
                                    </tr>
                                    <tr>
                                        <td>Info an Fachkreise</td>
                                        <td class="negative"><i class="icon close"></i>{{ engpass.inform_expert_group }}</td>
                                    </tr>
                                    <tr>
                                        <td>Krankenhausrelevant</td>
                                        <td class="negative"><i class="icon checkmark"></i>{{ engpass.hospital }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Gründe / Historie
                        </div>
                        <div class="content">
                            <table class="ui celled table">
                                <tbody>
                                    <tr>
                                        <td>Letzte Meldung</td>
                                        <td>{{ engpass.last_report }}</td>
                                    </tr>
                                    <tr>
                                        <td>Erstmeldung</td>
                                        <td>{{ engpass.initial_report }}</td>
                                    </tr>
                                    <tr>
                                        <td>Grund</td>
                                        <td>{{ engpass.reason }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sonstige Gründe</td>
                                        <td>{{ engpass.other_reasons }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Kontakt
                        </div>
                        <div class="content">
                            <table class="ui celled table">
                                <tbody>
                                    <tr>
                                        <td>Zulassungsinhaber</td>
                                        <td>{{ engpass.owner }}</td>
                                    </tr>
                                    <tr>
                                        <td>Kontakt Telefon</td>
                                        <td>{{ engpass.telephon }}</td>
                                    </tr>
                                    <tr>
                                        <td>Kontakt E-Mail</td>
                                        <td>{{ engpass.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}