{% extends "base.html" %}

{% block content %}

	<!--Highlight-->
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Lieferengpässe für Humanarzneimittel in Deutschland (ohne Impfstoffe)</h3>
                    <p>Das BfArM stellt der Öffentlichkeit Informationen zu gemeldeten Lieferengpässen zur Verfügung. Die Informationen stammen direkt vom Pharmazeutischen Unternehmer und werden durch Daten aus dem Arzneimittelinformationssystem des Bundes ergänzt. Die Aktualisierung der Datenbank erfolgt automatisiert auf Basis der gemeldeten Informationen.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="{{ url_for('static', filename='img/Arzneimittel1.jpg') }}" class="ui medium bordered rounded image">
                </div>
              </div>
              <div class="row">
                <div class="aligned column">
                    <div class="ui accordion">
                        <div class="title">
                            <p><i class="dropdown icon"></i> Das BfArM hat...</p>
                        </div>
						<div class="content">
                            <div class="ui container">
                                <p class="transition visible" style="display: block !important;">... in der Regel keine weitergehende Information zum Lieferstatus der gelisteten Arzneimittel. Die Einstellung erfolgt unter der alleinigen Verantwortung der jeweiligen Zulassungsinhaber. Bei Rückfragen zu gemeldeten Lieferengpässen wird daher empfohlen, sich direkt an die jeweils angegebene Kontakt-Telefonnummer oder die Kontakt-E-Mailadresse des Pharmazeutischen Unternehmers zu wenden.</p>
                                <p class="transition visible" style="display: block !important;">Es werden sowohl Arzneimittel in der Zuständigkeit des BfArM wie auch des Paul-Ehrlich-Institutes (PEI) mit Ausnahme der Humanimpfstoffe in der Anwendung veröffentlicht. Informationen zu Lieferengpässen von Humanimpfstoffen gegen Infektionskrankheiten befinden sich auf der Internetseite des PEI unter: www.pei.de/lieferengpaesse-impfstoffe-human. Der Umfang der dargestellten Daten kann individuell vom Nutzer definiert werden. Ebenso ist es möglich die Lieferengpassmeldungen zu sortieren, zu filtern und herunterzuladen. Auf der ersten Übersichtsweite sind die Basisinformationen zum Lieferengpass zusammengestellt. Durch betätigen des Stiftsymbols können weitere Informationen aufgerufen werden.</p>
                                <p class="transition visible" style="display: block !important;">Weitere Informationen zu den Aufgaben des BfArM finden Sie unter
                                <a href="http://www.bfarm.de">www.bfarm.de</a>.</p>
                            </div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>

	<!--Engpass Filter-->
	<div class="ui inverted vertical stripe quote segment">
	    <div class="ui equal width stackable internally celled grid">
		    <div class="center aligned row">
		        <div class="column valide" onclick="getFilter('ALL');">
			    	<h3>"Alle Lieferengpässe"</h3>
			 		<p>Sehen Sie sich eine Liste mit allen Lieferenpässen zugelassener Arzneimittel an.</p>
		        </div>
		        <div class="column relevant" onclick="getFilter('RELEVANT');">
			        <h3>"Versorgungsrelevante Lieferengpässe"</h3>
			        <p>
			        	Sehen Sie sich alle Lieferengpässe an, die als versorgungsrelevant eingestuft wurden.
			        </p>
		        </div>
		        <div class="column essentiell" onclick="getFilter('DANGER');">
		          	<h3>"Versorgungsgefährdende Lieferengpässe"</h3>
		          	<p>
		            	Sehen Sie sich alle Lieferengpässe an, die als versorgungsgefährdend eingestuft wurden.
		          	</p>
		        </div>
		   	</div>
	    </div>
  	</div>

	<!--Engpass Liste-->

	<div id="table">
	{% include 'main/table.html' %}
	</div>


{% endblock %}