{% for user in unauthorized_users %}
    <tr>
        <td class="collapsing">
            <i class="user blue icon"></i> {{ user.firstname }} {{ user.lastname }}
        </td>
        <td>{{ user.email }}</td>
        {% if user.permission == 'Hersteller' %}
            <td>Hersteller</td>
        {% elif user.permission == 'Fachabteilung' %}
            <td>Fachabteilung</td>
        {% endif %}
        <td class="right aligned collapsing">{{ moment(user.member_since).fromNow(refresh = True) }}</td>
        <td class="right aligned collapsing">
            <div class="ui buttons">
                <form method="post" action="{{ url_for('auth.approval') }}">
                    <input type="hidden" name="email" value="{{ user.email }}"/>
                    <input type="hidden" name="approval" value="True"/>
                    <button class="ui green button" type="submit">
                        Ja&nbsp;&nbsp;&nbsp;
                    </button>
                </form>
                <div class="or" data-text=""></div>
                <form method="post" action="{{ url_for('auth.approval') }}">
                    <input type="hidden" name="email" value="{{ user.email }}"/>
                    <input type="hidden" name="approval" value="False"/>
                    <button class="ui red button" type="submit">
                        Nein
                    </button>
                </form>
            </div>
        </td>
    </tr>
{% endfor %}