<div class="ui large top fixed menu transition hidden">
    <div class="item">
        <a href="{{ url_for('main.index') }}"><img class="ui mini image" src="{{ url_for('static', filename='img/favicon.png') }}"></a>
        <!-- Sidebar Menu -->
        <div class="ui vertical sidebar menu right">

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.index') }}" class="blue active item">Home - {{ current_user.firstname|capitalize }} {{ current_user.lastname|capitalize }}</a>
            {% else %}
                <a href="{{ url_for('main.index') }}" class="blue active item">Home</a>
            {% endif %}

                <a class="item">{{ moment().format('LLL') }}</a>

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="item">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="item">Login</a>
                <a href="{{ url_for('auth.register') }}" class="item">Registrieren</a>
            {% endif %}

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.engpass') }}" class="item">Engpass melden</a>
                {% if current_user.is_authenticated and current_user.permission == '1' %}
                    <a href="{{ url_for('main.verwaltung') }}" class="item">Benutzer Verwaltung</a>
                {% endif %}
            {% endif %}


        </div>
    </div>

    <div class="right menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
    </div>
</div>